<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Configurações</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicon e ícones para dispositivos Apple -->
    <link href="/templates/assets/img/favicon.png" rel="icon" />
    <link href="/templates/assets/img/apple-touch-icon.png" rel="apple-touch-icon"/>

    <!-- Fontes do Google -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Arquivos CSS de bibliotecas e estilos personalizados -->
    <link href="/templates/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/templates/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/templates/assets/vendor/aos/aos.css" rel="stylesheet"/>
    <link href="/templates/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"/>
    <link href="/templates/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"/>

    <!-- Arquivos CSS principais e personalizados -->
    <link href="/templates/assets/css/main.css" rel="stylesheet" />
    <link href="/templates/assets/css/custom.css" rel="stylesheet" />
</head>

<body class="configuracoes-page">
    <!-- Cabeçalho da página -->
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <!-- Logo e nome do site -->
            <a href="login" class="logo d-flex align-items-center me-auto">
                <img src="/templates/assets/img/logo.jpg" alt="" />
                <h1 class="sitename">Condomínio Varandas do Praia</h1>
            </a>

            <!-- Menu de navegação -->
            <nav id="navmenu" class="navmenu">
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <!-- Botão para acessar o menu -->
            <a class="btn-getstarted" href="/menu">Menu</a>
        </div>
    </header>

    <main class="main">
        <!-- Título da página -->
        <div class="page-title" data-aos="fade">
            <div class="container">
                <nav class="breadcrumbs">
                </nav>
                <h1>Configurações</h1>
            </div>
        </div>

        <!-- Seção do formulário de configurações -->
        <section id="icon-menu" class="icon-menu section">
            <div class="container" data-aos="fade-up">
                <!-- <form id="configuracoes-form" action="/configuracoes" method="post">
                    <h4>Configurações</h4>
                    <!-- Campo para nome do usuário -->
                    <!-- <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Usuário">
                    </div>
                    
                    <!-- Campo para senha -->
                    <!-- <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                    </div>
                    <!-- Botão para enviar o formulário -->
                    <!-- <button class="btn btn-primary" type="submit">Entrar</button>
                </form> -->
                <!-- Link para a página de administração -->
                <div class="mt-3">
                    <a href="/register" class="btn btn-secondary" style="background-color: #47b2e4; border-color: #47b2e4; color: white;">Cadastro de usuários</a>
                </div>
                <div class="mt-3">
                    <a href="/solicitar_recuperacao_senha" class="btn btn-secondary" style="background-color: #47b2e4; border-color: #47b2e4; color: white;">Solicitar recuperação senha</a>
                </div>
                <div class="mt-3">
                    <a href="/redefinir_senha" class="btn btn-secondary" style="background-color: #47b2e4; border-color: #47b2e4; color: white;">Redefinir senha</a>
                </div>
        </section>
    </main>
 
    <!-- Rodapé da página -->
    <footer id="footer" class="footer"></footer>

    <!-- Botão para voltar ao topo da página -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader (carregador de página) -->
    <div id="preloader"></div>

    <!-- Arquivos JavaScript de bibliotecas e scripts personalizados -->
    <script src="/templates/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/templates/assets/vendor/php-email-form/validate.js"></script>
    <script src="/templates/assets/vendor/aos/aos.js"></script>
    <script src="/templates/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/templates/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/templates/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/templates/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/templates/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <script src="/templates/assets/js/main.js"></script>

</body>
</html>