<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Menu</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicon e ícones para dispositivos Apple -->
    <link href="/templates/assets/img/favicon.png" rel="icon">
    <link href="/templates/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fontes do Google -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Arquivos CSS de bibliotecas e estilos personalizados -->
    <link href="/templates/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/templates/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/templates/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/templates/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/templates/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Arquivo CSS principal -->
    <link href="/templates/assets/css/main.css" rel="stylesheet">
    <link href="/templates/assets/css/custom.css" rel="stylesheet">
    

</head>

<body class="Menu-page">

    <!-- Cabeçalho da página -->
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <!-- Logo e nome do site -->
            <a href="login" class="logo d-flex align-items-center me-auto">
                <img src="/templates/assets/img/logo.jpg" alt="">
                <h1 class="sitename">Condomínio Varandas do Praia</h1>
            </a>

            <!-- Menu de navegação -->
            <nav id="navmenu" class="navmenu">
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <!-- Botão para sair -->
            <a class="btn-getstarted" href="/login">Sair</a>

        </div>

    </header>

    <main class="main">

        <!-- Título da página -->
        <div class="page-title" data-aos="fade">
            <div class="container">
                <nav class="breadcrumbs">
                </nav>
                <h1>Menu principal</h1>
            </div>
        </div>

        <!-- Seção do menu de ícones -->
        <section id="icon-menu" class="icon-menu section">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                    <div class="col-lg-12">
                        <div class="row">
                            <!-- Ícone de Cadastros -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="morador">
                                        <img src="/templates/assets/img/menu/cadastro.png" alt="Função 1">
                                        <p>Cadastros</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Agendamentos -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="agendamentos">
                                        <img src="/templates/assets/img/menu/agenda.png" alt="Função 2" />
                                        <p>Agendamentos</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Visitantes -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="visitantes">
                                        <img src="/templates/assets/img/menu/visitantes.png" alt="Função 3" />
                                        <p>Visitantes</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Prestadores -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="prestadores">
                                        <img src="/templates/assets/img/menu/suporte-tecnico.png" alt="Função 4" />
                                        <p>Prestadores</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Pesquisar -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="pesquisa">
                                        <img src="/templates/assets/img/menu/pesquisar.png" alt="Função 5" />
                                        <p>Pesquisar</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Encomendas -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="encomendas">
                                        <img src="/templates/assets/img/menu/encomenda.png" alt="Função 6" />
                                        <p>Encomendas</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Ocorrências -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="ocorrencias">
                                        <img src="/templates/assets/img/menu/incidente.png" alt="Função 7" />
                                        <p>Ocorrências</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Funcionários -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="funcionarios">
                                        <img src="/templates/assets/img/menu/funcionarios.png" alt="Função 8" />
                                        <p>Funcionários</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Veículos -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="veiculos">
                                        <img src="/templates/assets/img/menu/automovel.png" alt="Função 9" />
                                        <p>Veículos</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Domésticos -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="/domesticos">
                                        <img src="/templates/assets/img/menu/domesticas.png" alt="Função 10" />
                                        <p>Domesticos</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Mudanças -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="mudanca">
                                        <img src="/templates/assets/img/menu/mudanca.png" alt="Função 11" />
                                        <p>Mudanças</p>
                                    </a>
                                </div>
                            </div>

                            <!-- Ícone de Configurações -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="icon-box">
                                    <a href="configuracoes">
                                        <img src="/templates/assets/img/menu/configuracoes.png" alt="Função 12" />
                                        <p>Configurações</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- Rodapé da página -->
    <footer id="footer" class="footer">

    </footer>

    <!-- Botão para voltar ao topo da página -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader (carregador de página) -->
    <div id="preloader"></div>

    <!-- Arquivos JavaScript de bibliotecas e scripts personalizados -->
    <script src="/templates/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/templates/assets/vendor/php-email-form/validate.js"></script>
    <script src="/templates/assets/vendor/aos/aos.js"></script>
    <script src="/templates/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/templates/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/templates/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/templates/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/templates/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <script src="/templates/assets/js/main.js"></script>
    <script src="/templates/assets/css/custom.css"></script>
   

</body>

</html>